.logo {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.card {
  border: none;
}

.card img {
  width: 180px;
  max-width: 180px;;
  object-fit: contain;
}

#review {
  margin-top: 30px;
  width: 390px;
  min-width: 390px;
  object-fit: contain;
}