.logo {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.photo-header {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  border: none;
}

.card img {
  width: 180px;
  max-width: 180px;;
  object-fit: contain;
}

#review {
  margin-top: 30px;
  width: 390px;
  min-width: 390px;
  object-fit: contain;
}

footer {
  background-color: #e6e6e6;
}

.footer-icon {
  font-size: 30px;
}

i:hover {
  color: black;
}